<table class="w-full bg-whitishGray">
  <tr>
    <td class="px-[20px] pt-[40px] sm:pt-[30px] align-center-table font-bold m-0 text-green text-[24px] leading-[28px]">Sint cupidatat occaecat ut</td>
  </tr>
  <tr>
    <td class="px-[20px] pt-[35px] pb-[46px] pb-[36px]">
      <table class="w-full">
        <tr>
          <td class="pr-[10px] w-[280px] m-0 sm:block sm:w-full sm:pr-[0px] sm:pb-[35px]">
            <table class="w-full bg-white">
              <tr>
                <td class="w-full align-center-table pt-[26px]">
                  <x-image class="w-[100px] max-w-full" imgUrl="Icon-1.png" href="#" />
                </td>
              </tr>
              <tr>
                <td class="align-center-table pt-[18px] font-bold m-0 text-green text-[20px] leading-[24px]">Nisi ut ade</td>
              </tr>
              <tr>
                <td class="align-center-table pb-[35px] px-[20px] pt-[28px] m-0 text-gray text-[16px] leading-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span></td>
              </tr>
            </table>
          </td>
          <td class="pl-[10px] w-[280px] m-0 sm:block sm:w-full sm:pl-[0px]">
            <table class="w-full bg-white">
              <tr>
                <td class="w-full align-center-table pt-[26px]">
                  <x-image class="w-[100px] max-w-full" imgUrl="Icon-2.png" href="#" />
                </td>
              </tr>
              <tr>
                <td class="align-center-table pt-[18px] font-bold m-0 text-green text-[20px] leading-[24px]">Duis aute irure</td>
              </tr>
              <tr>
                <td class="align-center-table pb-[35px] px-[20px] pt-[28px] m-0 text-gray text-[16px] leading-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-[9px] [line-height:0] [vertical-align:6px]">2</span></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
