<table class="w-full">
  <tr>
    <td class="px-[20px] pt-[20px]">
      <table class="w-[470px] sm:w-full">
        <tr>
          <td class="w-[110px] sm:w-[110px]">
            <x-image class="w-full max-w-full" imgUrl="Header-Logo.png" href="#" />
          </td>
          <td class="pl-[24px] sm:pl-[16px] text-[12px] text-darkGreen leading-[16px]">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
