<table class="w-full">
  <tr>
    <td class="px-[20px] pt-[20px] sm:px-[0px]">
      <x-image class="w-[600px] max-w-full" imgUrl="Hero-Image.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="w-full px-[20px] pt-[35px] pb-[46px] align-center-table">
      <table class="w-[500px] sm:w-full">
        <tr>
          <td class="align-center-table font-bold m-0 text-green text-[24px] leading-[28px]">Excepteur sint occaecat cupidatat</td>
        </tr>
        <tr>
          <td class="align-center-table pt-[24px] m-0 text-gray text-[16px] leading-[20px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</td>
        </tr>
        <tr>
          <td class="align-center-table pt-[28px] sm:pt-[25px]">
            <a href="#" class="text-white font-bold rounded-[10px] w-[350px] sm:w-full py-[11px] px-[10px] inline-block text-[20px] leading-[24px] bg-green" target="_blank">Ut enim ad minim veniam</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
</table>
